<template>
  <div class="column q-pa-sm">
    <q-toolbar>
      <q-toolbar-title>Settings</q-toolbar-title>
    </q-toolbar>
    <q-list>
      <q-item-label header>Controllers</q-item-label>
      <q-item tag="label" v-ripple>
        <q-item-section>
          <q-item-label>Show HLT</q-item-label>
        </q-item-section>
        <q-item-section side>
          <q-toggle v-model="showHLT" />
        </q-item-section>
      </q-item>
      <q-item tag="label" v-ripple>
        <q-item-section>
          <q-item-label>Show Boil</q-item-label>
        </q-item-section>
        <q-item-section side>
          <q-toggle v-model="showBoil" />
        </q-item-section>
      </q-item>
    </q-list>
  </div>
</template>

<style lang="stylus" scoped></style>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';
import { State, namespace } from 'vuex-class';
import { ControllersState } from 'src/store/controllers';

const controllersModule = namespace('controllers');

@Component
export default class HomeSettings extends Vue {
  @State controllers!: ControllersState;
  @controllersModule.Action updateControllerVisibility: any;

  get showHLT() {
    return this.controllers.hlt.visible;
  }

  set showHLT(value: boolean) {
    this.updateControllerVisibility({
      controller: this.controllers.hlt,
      visibility: value
    });
  }

  get showBoil() {
    return this.controllers.boil.visible;
  }

  set showBoil(value: boolean) {
    this.updateControllerVisibility({
      controller: this.controllers.boil,
      visibility: value
    });
  }
}
</script>
