<template>
  <q-page id="page" class="column q-px-sm q-gutter-y-sm">
    <div class="col-auto row justify-start q-gutter-sm">
      <TemperatureCard
        class="col"
        :probe="brewery.temperatureProbes.hlt"
      />
      <TemperatureCard
        class="col"
        :probe="brewery.temperatureProbes.mltIn"
      />
      <TemperatureCard
        class="col"
        :probe="brewery.temperatureProbes.mltOut"
      />
      <TemperatureCard
        class="col"
        :probe="brewery.temperatureProbes.boil"
      />
    </div>
    <ControllerCard
      v-show="controllers.hlt.visible"
      class="col"
      :temperatureProbes="hltProbes"
      :controller="brewery.controllers.hlt"
    />
    <ControllerCard
      v-show="controllers.boil.visible"
      class="col"
      :temperatureProbes="boilProbes"
      :controller="brewery.controllers.boil"
    />
    <ButtonPanel class="col-auto" style="height: 60px" :brewery="brewery" />
  </q-page>
</template>

<style lang="stylus" scoped>
#page
  height "calc(100vh - %s)" % $toolbar-min-height
</style>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';
import { State, Action, Getter, namespace } from 'vuex-class';

import { ControllersState } from 'src/store/controllers';
import TemperatureCard from 'src/components/TemperatureCard.vue';
import ControllerCard from 'src/components/ControllerCard.vue';
import ButtonPanel from 'src/components/ButtonPanel.vue';
import Brewery from 'src/model/Brewery';
import TemperatureProbe from '../model/TemperatureProbe';

@Component({
  components: {
    TemperatureCard,
    ButtonPanel,
    ControllerCard
  }
})
export default class Home extends Vue {
  @State controllers!: ControllersState;

  brewery: Brewery = (this as any).$brewery;

  hltProbes: TemperatureProbe[] = [
    this.brewery.temperatureProbes.hlt,
    this.brewery.temperatureProbes.mltIn,
    this.brewery.temperatureProbes.mltOut,
  ]

  boilProbes: TemperatureProbe[] = [
    this.brewery.temperatureProbes.boil
  ]
}
</script>
