// app global css

.q-card
  background $background-light

.q-layout
  background $background

.q-drawer
  background $background
  color $text-normal

.q-toolbar
  background lighten($background, 7%)
  color $text-normal

.q-toggle
  color $text-normal

.bg-red-button-enabled
  background #ff0000

.bg-red-button-disabled
  background darken(#ff0000, 70%)

.text-hlt
  color $hlt-color

.bg-hlt
  background $hlt-color

.text-mlt-in
  color $mlt-in-color
.bg-mlt-in
  background $mlt-in-color

.text-mlt-out
  color $mlt-out-color
.bg-mlt-out
  background $mlt-out-color

.text-boil
  color $boil-color
.bg-boil
  background $boil-color

.text-power-level
  color $power-level-color
.bg-power-level
  background $power-level-color
