<template>
  <div class="column">
    <q-input
      class="col-auto"
      type="number"
      label="Temperature"
      v-model="boilTemperature"
    />
    <div class="col row items-end">
      <toggle-button
        label="BOIL SSR"
        color-name="red"
        relay-name="boilSsr"
        class="col"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import { State, Action, Getter } from 'vuex-class';
import { ITemperatureProbeState } from '../services/signalr';
import { ISetTemperatureArgs } from '../store/modules/tempProbes';
import ToggleButton from 'components/ToggleButton.vue';

@Component({
  components: {
    ToggleButton
  }
})
export default class BoilControl extends Vue {
  @State('boil', { namespace: 'tempProbes' })
  boilProbe!: ITemperatureProbeState;
  @Action('setTemperature', { namespace: 'tempProbes' }) setTemperature!: (
    args: ISetTemperatureArgs
  ) => void;

  get boilTemperature(): string {
    return this.boilProbe.temperature.toString();
  }

  set boilTemperature(value: string) {
    if (value == '') {
      return;
    }
    this.setTemperature({ probeName: 'boil', temperature: parseFloat(value) });
  }
}
</script>
