<template>
  <div class="column">
    <q-input
      class="col-auto"
      type="number"
      label="Temperature"
      :value="hltTemperature"
      @input="v => setHltTemperature(v)"
    />

    <q-separator class="col-auto q-ma-md" />

    <q-input
      class="col-auto"
      label="Specific heat capacity = kJ / kg * K)"
      mask="#.###"
      v-model="tank.heatCapacity"
    />

    <q-input
      class="col-auto"
      label="Thermal conductivity (W / m * K)"
      mask="##.#"
      v-model="tank.thermalConductivity"
    />

    <q-input
      class="col-auto"
      label="Diameter (in)"
      mask="##.###"
      v-model="diameter"
    />

    <q-input
      class="col-auto"
      label="Volume (gallons)"
      mask="##.##"
      v-model="volume"
    />

    <q-input
      class="col-auto"
      label="Density"
      mask="##.##"
      v-model="tank.density"
    />

    <q-input
      class="col-auto"
      label="Ambient temperature (°F)"
      mask="##.#"
      v-model="ambientTemp"
    />

    <q-input
      class="col-auto"
      label="Heat loss factor"
      mask="##.#"
      v-model="tank.heatLossFactor"
    />

    <q-input
      class="col-auto"
      label="Efficiency"
      mask="#.##"
      v-model="tank.efficiency"
    />

    <q-input
      class="col-auto"
      label="Heating element power (W)"
      mask="####"
      v-model="elementPower"
    />

    <div class="col row items-end">
      <toggle-button
        label="HLT SSR"
        color-name="red"
        relay-name="hltSsr"
        class="col"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from 'vue-property-decorator';
import { State, Action, Getter } from 'vuex-class';
import { ITemperatureProbeState } from '../services/signalr';
import { ISetTemperatureArgs } from '../store/modules/tempProbes';
import ToggleButton from 'components/ToggleButton.vue';
import { WaterTank } from './waterTank';
import { IRelaysState } from 'src/store/modules/relays/state';

@Component({
  components: {
    ToggleButton
  }
})
export default class HltControl extends Vue {
  @State('hlt', { namespace: 'tempProbes' }) hltProbe!: ITemperatureProbeState;
  @State('hltSsr', { namespace: 'relays' }) hltSsr!: IRelaysState;

  @Action('setTemperature', { namespace: 'tempProbes' }) setTemperature!: (
    args: ISetTemperatureArgs
  ) => void;

  tank = new WaterTank();

  elementPower = 5000.0;

  mounted() {
    this.tank.temperature = this.FToC(this.hltProbe.temperature);
    this.tank.onUpdate = this.onTankUpdate;
    this.tank.start();
  }

  private onTankUpdate(temp: number) {
    temp = this.CToF(temp);
    this.setTemperature({ probeName: 'hlt', temperature: temp });
  }

  private CToF(tempC: number) {
    return tempC * 1.8 + 32;
  }

  private FToC(tempF: number) {
    return (tempF - 32) / 1.8;
  }

  private inchesToMeters(inches: number) {
    return inches * 0.0254;
  }

  private metersToInches(meters: number) {
    return meters / 0.0254;
  }

  private gallonsToLiters(gallons: number) {
    return gallons * 3.78541;
  }

  private litersToGallons(liters: number) {
    return liters / 3.78541;
  }

  get diameter() {
    return this.metersToInches(this.tank.diameter / 100.0);
  }
  set diameter(inches: number) {
    this.tank.diameter = this.inchesToMeters(inches) * 100.0;
  }

  get volume() {
    return this.litersToGallons(this.tank.volume);
  }

  set volume(gallons: number) {
    this.tank.volume = this.gallonsToLiters(gallons);
  }

  get ambientTemp() {
    return this.CToF(this.tank.tempAmbient);
  }

  set ambientTemp(value: number) {
    this.tank.tempAmbient = this.FToC(value);
  }

  get hltTemperature(): string {
    return this.hltProbe.temperature.toString();
  }

  setHltTemperature(value: string) {
    if (value == '') {
      return;
    }
    const temp = parseFloat(value);
    this.tank.temperature = this.FToC(temp);
    this.setTemperature({ probeName: 'hlt', temperature: temp });
  }

  @Watch('hltSsr.enabled')
  onSsrStateChanged(newValue: boolean, oldValue: boolean) {
    this.tank.update();
    this.tank.elementPower = newValue ? this.elementPower / 1000.0 : 0.0;
  }
}
</script>
