<template>
  <div class="column">
    <q-input type="number" label="In Temperature" v-model="mltInTemperature" />
    <q-input
      type="number"
      label="Out Temperature"
      v-model="mltOutTemperature"
    />
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import { State, Action, Getter } from 'vuex-class';
import { ITemperatureProbeState } from '../services/signalr';
import { ISetTemperatureArgs } from '../store/modules/tempProbes';

@Component
export default class HltControl extends Vue {
  @State('mltIn', { namespace: 'tempProbes' })
  mltInProbe!: ITemperatureProbeState;
  @State('mltOut', { namespace: 'tempProbes' })
  mltOutProbe!: ITemperatureProbeState;

  @Action('setTemperature', { namespace: 'tempProbes' })
  setTemperatureAction!: (args: ISetTemperatureArgs) => void;

  getTemperature(probe: ITemperatureProbeState): string {
    return probe.temperature.toString();
  }

  setTemperature(probe: ITemperatureProbeState, value: string) {
    if (value == '') {
      return;
    }
    this.setTemperatureAction({
      probeName: probe.name,
      temperature: parseFloat(value)
    });
  }

  get mltInTemperature(): string {
    return this.getTemperature(this.mltInProbe);
  }
  set mltInTemperature(value: string) {
    this.setTemperature(this.mltInProbe, value);
  }

  get mltOutTemperature(): string {
    return this.getTemperature(this.mltOutProbe);
  }
  set mltOutTemperature(value: string) {
    this.setTemperature(this.mltOutProbe, value);
  }
}
</script>
