<template>
  <q-btn :label="label" :class="[colorStyle]" @click="clicked()"></q-btn>
</template>

<script lang="ts">
import { ISetStateArgs } from 'src/store/modules/relays';
import { IRelayState, IRelaysState } from '../store/modules/relays/state';
import { Vue, Component, Prop } from 'vue-property-decorator';
import { State, Action } from 'vuex-class';

@Component
export default class ToggleButton extends Vue {
  @Prop({ type: String, required: true }) readonly label!: string;
  @Prop({ type: String, required: true }) readonly colorName!: string;
  @Prop({ type: String, required: true }) readonly relayName!: string;

  @State('relays') relays!: IRelaysState;
  @Action('setState', { namespace: 'relays' }) setState!: (
    args: ISetStateArgs
  ) => void;

  relay!: IRelayState;
  enabled = false;

  created() {
    this.relay = this.relays[this.relayName];
  }

  get colorStyle() {
    return (
      this.colorName + '-button-' + (this.relay.enabled ? 'active' : 'inactive')
    );
  }

  clicked() {
    this.setState({ relayName: this.relayName, enabled: !this.relay.enabled });
    //this.active = !this.active;
  }
}
</script>
