<template>
  <q-page class="column q-gutter-y-md q-px-md q-pt-md">
    <div class="col row q-gutter-x-md">
      <temperature-card class="col" :probe="$brewery.temperatureProbes.hlt" />
      <temperature-card class="col" :probe="$brewery.temperatureProbes.boil" />
    </div>
    <div class="col row q-gutter-x-md">
      <temperature-card class="col" :probe="$brewery.temperatureProbes.mltIn" />
      <temperature-card
        class="col"
        :probe="$brewery.temperatureProbes.mltOut"
      />
    </div>
  </q-page>
</template>

<script lang="ts">
import TemperatureCard from 'src/components/TemperatureCard.vue';

import { Vue, Component } from 'vue-property-decorator';
@Component({
  components: {
    TemperatureCard
  }
})
export default class PageIndex extends Vue {}
</script>
