// app global css in SCSS form

.text-hlt {
  color: $hltColor;
}

.bg-hlt {
  background: $hltColor;
}

.text-mltIn {
  color: $mltInColor;
}

.bg-mltIn {
  background: $mltInColor;
}

.text-mltOut {
  color: $mltOutColor;
}

.bg-mltOut {
  background: $mltOutColor;
}

.text-boil {
  color: $boilColor;
}

.bg-boil {
  background: $boilColor;
}
