<template>
  <div class="row q-gutter-x-sm">
    <OutputButton class="col" :output="brewery.outputs.hlt" color="#ff0000" />
    <OutputButton class="col" :output="brewery.outputs.boil" color="#ff0000" />
    <OutputButton class="col" :output="brewery.outputs.pump1" color="#0000ff" />
    <OutputButton class="col" :output="brewery.outputs.pump2" color="#0000ff" />
    <OutputButton class="col" :output="brewery.outputs.stir" color="#00ff00" />
    <OutputButton class="col" :output="brewery.outputs.fan" color="#00ff00" />
  </div>
</template>

<style lang="stylus" scoped></style>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop } from 'vue-property-decorator';
import Brewery from 'src/model/Brewery';
import OutputButton from './OutputButton.vue';

@Component({
  components: {
    OutputButton
  }
})
export default class ButtonPanel extends Vue {
  @Prop() brewery!: Brewery;
}
</script>
