<template>
  <q-card class="column">
    <q-toolbar>
      <q-toolbar-title>{{ controller.name }}</q-toolbar-title>
    </q-toolbar>

    <div class="row col">
      <div class="col-auto column">
        <q-list dark dense class="q-pt-md" style="width: 180px">
          <q-item>
            <q-avatar rounded dark
                      :color="ssrButtonColor"
                      size="24px"
                      class="full-width">
              {{ ssrButtonLabel }}
            </q-avatar>
          </q-item>
          <q-item>
            <q-item-section no-wrap>Power Level</q-item-section>
            <q-item-section no-wrap class="text-right text-bold text-h6">
              {{ powerLevel }}%
            </q-item-section>
          </q-item>
          <q-separator dark spaced inset />
          <q-item>
            <q-select 
              dark
              v-model="controller.currentStrategy"
              :options="availableStrategies"
              emit-value
              map-options
              label="Strategy" 
              class="full-width"/>
          </q-item>

          <component v-bind:is="strategyFormName" v-bind="{ strategy: controller.currentStrategy }"/>
        </q-list>
      </div>
    
      <line-chart
        id="chart"
        ref="chart"
        class="col"
        :plugins="[chartBackgroundPlugin]"
        :options="options"
        :chart-data="datacollection"
      />
    </div>
  </q-card>
</template>

<style lang="stylus" scoped>
#chart
  padding 5px
.full-width
  width 100%
</style>

<script lang="ts">

import LineChart from './LineChart';
import ManualStrategyForm from './ManualStrategyForm.vue';
import SetpointStrategyForm from './SetpointStrategyForm.vue';
import Vue from 'vue';
import { Component, Prop } from 'vue-property-decorator';
import { Controller } from 'src/model/Controller';
import TemperatureProbe from 'src/model/TemperatureProbe';
import { ChartOptions, ChartData, ChartPoint, ChartDataSets, PluginServiceRegistrationOptions } from 'chart.js';
import 'chartjs-plugin-streaming';
import { getApplicationColor } from 'src/css/utils';
import Color from 'color';
import ControllerStrategy from '../model/ControllerStrategy';

const fontColor = 'rgba(255, 255, 255, 0.6)';
const gridLineColor = 'rgba(255, 255, 255, 0.05)';

interface IControllerCardDataSet {
  getValue: () => number
};

interface ISeriesOptions {
  label: string;
  value: string;
  color: string;
};

class ChartBackgroundPlugin implements PluginServiceRegistrationOptions {
  constructor(readonly color: string) {
  }

  beforeDraw(chart: Chart) {
    const ctx = chart.ctx;
    if (!ctx) return;
    const chartArea = chart.chartArea;

    ctx.save();
    ctx.fillStyle = this.color;
    ctx.fillRect(chartArea.left, chartArea.top, chartArea.right - chartArea.left, chartArea.bottom - chartArea.top);
    ctx.restore();
  }
}

interface ISelectOptions {
  label: string;
  value: ControllerStrategy;
}

@Component({
  components: {
    LineChart,
    ManualStrategyForm,
    SetpointStrategyForm
  }
})
export default class ControllerCard extends Vue {
  @Prop() controller!: Controller;
  @Prop() temperatureProbes!: TemperatureProbe[];
  @Prop() title!: string;

  chartBackgroundPlugin = new ChartBackgroundPlugin(Color('#17181c').lighten(0.3).toString());

  get strategyFormName() {
    return this.controller.currentStrategy.type + 'StrategyForm'
  }

  get availableStrategies(): ISelectOptions[] {
    return this.controller.availableStrategies.map(s => {
      return {
        label: s.name,
        value: s
      };
    });
  }

  private addTemperatureDataSets(map: Map<string, ChartDataSets>) {
    this.temperatureProbes.forEach(probe => {
      map.set(probe.name, this.buildTemperatureDataSet(probe));
    });
    return map;
  }

  private dataSetMap = this.addTemperatureDataSets(
    new Map<string, ChartDataSets>()
  )
    .set('powerLevel', this.buildPowerLevelDataSet());

  private dataSets: ChartDataSets[] = Array.from(this.dataSetMap.values());

  datacollection: ChartData = {
    datasets: this.dataSets
  };

  options: ChartOptions = {
    responsive: true,
    maintainAspectRatio: false,

    legend: {
      display: true,
      labels: {
        fontColor: fontColor,
        usePointStyle: false
      }
    },

    animation: {
      duration: 0,
      easing: 'linear'
    },

    scales: {
      xAxes: [
        this.buildXAxis()
      ],
      yAxes: [
        {
          id: 'temperature',
          position: 'left',
          scaleLabel: {
            display: true,
            fontColor: fontColor,
            labelString: 'Temperature'
          },
          ticks: {
            fontColor: fontColor
          },
          gridLines: {
            color: gridLineColor,
            zeroLineColor: gridLineColor
          }
        },
        {
          id: 'powerLevel',
          position: 'right',
          scaleLabel: {
            display: true,
            fontColor: fontColor,
            labelString: 'Power Level'
          },
          ticks: {
            fontColor: fontColor,
            min: 0.0,
            max: 100.0
          },
          gridLines: {
            display: false,
            color: gridLineColor,
            zeroLineColor: gridLineColor
          }
        }
      ]
    },
  };

  private buildXAxis(): Chart.ChartXAxe {
    const axis: Chart.ChartXAxe = {
      type: 'realtime',
      time: {
        tooltipFormat: 'll HH:mm'
      },
      scaleLabel: {
        display: false,
        labelString: 'Time'
      },
      ticks: {
        maxRotation: 0,
        fontColor: fontColor
      },
      gridLines: {
        color: gridLineColor,
        zeroLineColor: gridLineColor
      }
    };

    const anyAxis: any = axis;

    anyAxis.realtime = {
      duration: 60000,
      refresh: 500,
      delay: 500,
      onRefresh: this.onRefresh
    };

    return axis;
  }

  private onRefresh(chart: any) {
    const time = new Date();

    this.dataSets.forEach(ds => {
      const controllerCardDataSet = ds as IControllerCardDataSet;
      const value = controllerCardDataSet.getValue();
      const point: ChartPoint = { t: time, y: value };
      const data = ds.data;
      if (data) {
        data.push(point as (number & ChartPoint));
      }
    });
  }

  private buildTemperatureDataSet(probe: TemperatureProbe): ChartDataSets {
    const color = getApplicationColor(probe.cssName);

    const dataSet: ChartDataSets = {
      label: probe.name,
      fill: false,
      borderColor: color,
      backgroundColor: color,
      pointRadius: 0,
      borderWidth: 2,
      lineTension: 0.0,//0.3,
      yAxisID: 'temperature',
      data: []
    };

    const controllerCardDataSet = dataSet as IControllerCardDataSet;

    controllerCardDataSet.getValue = () => probe.temperature;

    return dataSet;
  }

  private buildPowerLevelDataSet(): ChartDataSets {
    const color = getApplicationColor('power-level');

    const dataSet: ChartDataSets = {
      label: 'Power Level',
      fill: true,
      steppedLine: true,
      borderColor: color,
      backgroundColor: Color(color).alpha(0.2).toString(),
      pointRadius: 0,
      borderWidth: 2,
      yAxisID: 'powerLevel',
      data: []
    };

    const controllerCardDataSet = dataSet as IControllerCardDataSet;

    controllerCardDataSet.getValue = () => Math.round(this.controller.dutyCycle * 100);

    return dataSet;
  }

  get powerLevel() { return Math.round(this.controller.dutyCycle * 100); }

  get ssrButtonLabel() {
    return this.controller.enabled ? 'ON' : 'OFF';
  }

  get ssrButtonColor() {
    return this.controller.enabled ? 'red-button-enabled' : 'red-button-disabled'
  }
}
</script>
