<template>
  <q-item>
    <q-input
      label="Target Power Level"
      v-model.number="targetPowerLevel"
      type="number"
      dark
      min="0"
      max="100"
      suffix="%"
      style="width: 100%"
    />
  </q-item>
</template>

<style lang="stylus" scoped>
</style>

<script lang="ts">

import Vue from 'vue';
import { Component, Prop } from 'vue-property-decorator';
import { ManualControllerStrategy } from '../model/ManualControllerStrategy';

@Component({
  components: {
  }
})
export default class ManualStrategyForm extends Vue {
  @Prop()
  strategy!: ManualControllerStrategy

  get targetPowerLevel() { return this.strategy.targetDutyCycle * 100.0 }
  set targetPowerLevel(value: number) { this.strategy.targetDutyCycle = value / 100.0 }
}

</script>
