<template>
  <q-btn size="xl" :label="output.name" :style="style" @click="onClick" />
</template>

<style lang="stylus" scoped></style>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop } from 'vue-property-decorator';
import Output from 'src/model/Output';
import { colors } from 'quasar';

const { lighten } = colors;

@Component
export default class OutputButton extends Vue {
  @Prop() output!: Output;
  @Prop() color!: string;

  onClick(): void {
    this.output.toggle();
  }

  get style() {
    return {
      color: 'white',
      backgroundColor: this.actualColor
    };
  }

  get actualColor(): string {
    return this.output.enabled ? this.color : lighten(this.color, -70);
  }
}
</script>
