<template>
  <q-item>
    <q-input
      label="Setpoint"
      v-model.number="strategy.setpoint"
      type="number"
      dark
      style="width: 100%"
    />
  </q-item>
</template>

<style lang="stylus" scoped>
</style>

<script lang="ts">

import Vue from 'vue';
import { Component, Prop } from 'vue-property-decorator';
import { SetpointControllerStrategy } from 'src/model/SetpointControllerStrategy';

@Component({
  components: {
  }
})
export default class SetpointStrategyForm extends Vue {
  @Prop()
  strategy!: SetpointControllerStrategy
}
</script>
