<template>
  <q-page class="column q-gutter-x-md q-pr-md">
    <div class="col row justify-evenly q-gutter-x-md q-pt-md">
      <q-card class="col column">
        <q-card-section class="bg-primary q-pa-xs">
          <div class="text-h6 text-center">HLT</div>
        </q-card-section>
        <q-card-section class="col column">
          <hlt-control class="col" />
        </q-card-section>
      </q-card>
      <q-card class="col column">
        <q-card-section class="bg-primary q-pa-xs">
          <div class="text-h6 text-center">MLT</div>
        </q-card-section>
        <q-card-section class="col column">
          <mlt-control class="col" />
        </q-card-section>
      </q-card>
      <q-card class="col column">
        <q-card-section class="bg-primary q-pa-xs">
          <div class="text-h6 text-center">BOIL</div>
        </q-card-section>
        <q-card-section class="col column">
          <boil-control class="col" />
        </q-card-section>
      </q-card>
    </div>
    <div class="col-auto row items-end justify-evenly q-gutter-x-md q-pb-md">
      <toggle-button
        label="HLT"
        color-name="red"
        relay-name="hlt"
        class="col"
      />
      <toggle-button
        label="Boil"
        color-name="red"
        relay-name="boil"
        class="col"
      />
      <toggle-button
        label="Pump 1"
        color-name="green"
        relay-name="pump1"
        class="col"
      />
      <toggle-button
        label="Pump 2"
        color-name="green"
        relay-name="pump2"
        class="col"
      />
      <toggle-button
        label="Stir"
        color-name="blue"
        relay-name="stir"
        class="col"
      />
      <toggle-button
        label="Fan"
        color-name="blue"
        relay-name="fan"
        class="col"
      />
    </div>
  </q-page>
</template>

<script lang="ts">
import Vue from 'vue';
import ToggleButton from 'components/ToggleButton.vue';
import HltControl from 'components/HltControl.vue';
import MltControl from 'components/MltControl.vue';
import BoilControl from 'components/BoilControl.vue';

export default Vue.extend({
  components: {
    ToggleButton,
    HltControl,
    MltControl,
    BoilControl
  },

  name: 'PageIndex'
});
</script>
