<template>
  <q-page class="flex">
    <div class="row q-pa-md q-gutter-sm" style="width: 100%">
      <div class="col-auto">
        <div class="q-gutter-sm column">
          <Button offColor="maroon" onColor="red" :output="$store.state.outputs.hlt">HLT</Button>
          <Button offColor="maroon" onColor="red" :output="$store.state.outputs.boil">Boil</Button>
          <Button offColor="darkgreen" onColor="lime" :output="$store.state.outputs.pump1">Pump 1</Button>
          <Button offColor="darkgreen" onColor="lime" :output="$store.state.outputs.pump2">Pump 2</Button>
          <Button offColor="darkblue" onColor="cyan" :output="$store.state.outputs.stir">Stir Motor</Button>
          <Button offColor="darkblue" onColor="cyan" :output="$store.state.outputs.fan">Fan</Button>
          <Button offColor="indigo" onColor="magenta" :output="$store.state.outputs.buzz">Buzzer</Button>
          <Button offColor="indigo" onColor="magenta" :output="$store.state.outputs.tbd">TBD</Button>
        </div>
      </div>
      <TankController class="col" :tank="$store.state.tanks.hlt"/>
      <MLTController class="col" :tank="$store.state.tanks.mlt"/>
      <TankController class="col" :tank="$store.state.tanks.boil"/>
    </div>
  </q-page>
</template>

<style lang="stylus" scoped>
</style>

<script>
import Button from 'src/components/Button'
import TankController from 'src/components/TankController'
import MLTController from 'src/components/MLTController'

export default {
  name: 'PageIndex',

  components: {
    Button,
    TankController,
    MLTController
  }
}
</script>
