<template>
  <q-layout view="lHh Lpr lFf">
    <!-- <q-header elevated>
      <q-toolbar>
        <q-toolbar-title>
          Brewery Simulator
        </q-toolbar-title>
      </q-toolbar>
    </q-header> -->

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-footer>
      <q-toolbar style="min-height: 0px" :class="toolbarColorClass">
        <div style="font-size: 9pt; padding: 2px">
          {{ connectedStatus }}
        </div>
      </q-toolbar>
    </q-footer>
  </q-layout>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import { State, Action, namespace } from 'vuex-class';
import { IState } from 'src/store';

const connectionModule = namespace('connection');

@Component
export default class MainLayout extends Vue {
  @connectionModule.State('connected') connected!: boolean;

  get connectedStatus() {
    return this.connected ? 'Connected' : 'Disconnected';
  }

  get toolbarColorClass() {
    return this.connected ? 'bg-primary' : 'bg-red';
  }
}
</script>
