<template>
  <div class="column q-pa-sm">
    <q-toolbar>
      <q-toolbar-title>Settings</q-toolbar-title>
    </q-toolbar>
    <q-list>
      <q-item-label header>Controllers</q-item-label>
      <q-item tag="label" v-ripple>
        <q-item-section>
          <q-item-label>Show HLT</q-item-label>
        </q-item-section>
        <q-item-section side>
          <q-toggle v-model="showHLT" />
        </q-item-section>
      </q-item>
      <q-item tag="label" v-ripple>
        <q-item-section>
          <q-item-label>Show Boil</q-item-label>
        </q-item-section>
        <q-item-section side>
          <q-toggle v-model="showBoil" />
        </q-item-section>
      </q-item>
    </q-list>
  </div>
</template>

<style lang="stylus" scoped></style>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';
import 'src/model/State';
import { HeatingElementUiState } from 'src/model/State';

@Component
export default class HomeSettings extends Vue {
  get showHLT() {
    return HeatingElementUiState.fromElement(
      this.$state.brewery.heatingElements.hlt
    ).visible;
  }

  set showHLT(value: boolean) {
    HeatingElementUiState.fromElement(
      this.$state.brewery.heatingElements.hlt
    ).visible = value;
  }

  get showBoil() {
    return HeatingElementUiState.fromElement(
      this.$state.brewery.heatingElements.boil
    ).visible;
  }

  set showBoil(value: boolean) {
    HeatingElementUiState.fromElement(
      this.$state.brewery.heatingElements.boil
    ).visible = value;
  }
}
</script>
