<template>
  <q-page id="page" class="column q-px-sm q-gutter-y-sm">
    <div class="col-auto row justify-evenly q-gutter-sm">
      <temperature-card class="col" :probe="brewery.temperatureProbes.hlt" />
      <temperature-card class="col" :probe="brewery.temperatureProbes.mltIn" />
      <temperature-card class="col" :probe="brewery.temperatureProbes.mltOut" />
      <temperature-card class="col" :probe="brewery.temperatureProbes.boil" />
    </div>
    <heating-controller-card
      v-show="$state.brewery.heatingElements.hlt.extensions.ui.visible"
      class="col"
      title="HLT / MLT"
      :element="$state.brewery.heatingElements.hlt"
    />
    <heating-controller-card
      v-show="$state.brewery.heatingElements.boil.extensions.ui.visible"
      class="col"
      title="Boil"
      :element="$state.brewery.heatingElements.boil"
    />
    <div class="col" v-show="showSpacer" />
    <button-panel class="col-auto" />
  </q-page>
</template>

<style lang="scss" scoped>
#page {
  height: calc(100vh - #{$toolbar-min-height});
}
</style>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';

// import { ControllersState } from 'src/store/controllers';
import TemperatureCard from 'src/components/TemperatureCard.vue';
import HeatingControllerCard from 'src/components/HeatingControllerCard.vue';
import ButtonPanel from 'src/components/ButtonPanel.vue';
import 'src/model/State';
import { HeatingElementUiState } from 'src/model/State';
// import TemperatureProbe from '../model/TemperatureProbe';

@Component({
  components: {
    TemperatureCard,
    ButtonPanel,
    HeatingControllerCard
  }
})
export default class Home extends Vue {
  get brewery() {
    return this.$state.brewery;
  }

  get showSpacer() {
    const hltState = HeatingElementUiState.fromElement(
      this.$state.brewery.heatingElements.hlt
    );
    const boilState = HeatingElementUiState.fromElement(
      this.$state.brewery.heatingElements.boil
    );

    return !(hltState.visible || boilState.visible);
  }
}
</script>
