// app global css in SCSS form

@import 'quasar.variables.json';

.text-hlt {
  color: $hltColor;
}

.bg-hlt {
  background: $hltColor;
}

.text-mltIn {
  color: $mltInColor;
}

.bg-mltIn {
  background: $mltInColor;
}

.text-mltOut {
  color: $mltOutColor;
}

.bg-mltOut {
  background: $mltOutColor;
}

.text-boil {
  color: $boilColor;
}

.bg-boil {
  background: $boilColor;
}

.text-powerLevel {
  color: $powerLevelColor;
}

.bg-powerLevel {
  background: $powerLevelColor;
}

.bg-red-button-enabled {
  background: #ff0000;
}

.bg-red-button-disabled {
  background: scale-color($color: #ff0000, $lightness: -70%);
}
