// app global css in Sass form

.red-button-active
    background-color: $red-button-active

.red-button-inactive
    background-color: $red-button-inactive

.green-button-active
    background-color: $green-button-active

.green-button-inactive
    background-color: $green-button-inactive

.blue-button-active
    background-color: $blue-button-active

.blue-button-inactive
    background-color: $blue-button-inactive
