<template>
  <q-btn
    @click="toggle()"
    v-bind:style="{ color: 'white', background: activeColor }"
  >
    <slot/>
  </q-btn>
</template>

<style lang="stylus" scoped>
</style>

<script>

export default {
  name: 'Button',

  data () {
    return {
    }
  },

  props: {
    onColor: String,
    offColor: String,
    output: Object
  },

  computed: {
    activeColor: function () {
      return this.output.enabled ? this.onColor : this.offColor
    }
  },

  methods: {
    toggle () {
      this.$store.commit('setOutputEnabled', {
        output: this.output,
        enabled: !this.output.enabled
      })
    }
  }
}
</script>
