<template>
  <q-card>
    <q-layout container view="lHh Lpr lFf">
      <q-header elevated>
        <q-toolbar>
          <q-toolbar-title>{{ tank.name }}</q-toolbar-title>
        </q-toolbar>
      </q-header>

      <q-page-container>
        <q-page class="q-pa-md">
          <div class="q-gutter-md column">
            <q-input
              label="Temperature In"
              v-model.number="temperatureIn"
              type="number"
              min="0.0" max="212.0" step="1.0"/>

            <q-input
              label="Temperature Out"
              v-model.number="temperatureOut"
              type="number"
              min="0.0" max="212.0" step="1.0"/>

            <q-input
              label="In Heating Rate"
              v-model.number="inHeatingRate"
              type="number"
              min="0.0" max="1.0" step="0.1"/>

            <q-input
              label="Out Heating Rate"
              v-model.number="outHeatingRate"
              type="number"
              min="0.0" max="1.0" step="0.1"/>
          </div>
        </q-page>
      </q-page-container>
    </q-layout>
  </q-card>
</template>

<style lang="stylus" scoped>
</style>

<script>
export default {
  name: 'MLTController',

  data () {
    return {
    }
  },

  computed: {
    temperatureIn: {
      get () { return Math.round(this.tank.inProbe.temperature * 100.0) / 100.0 },
      set (value) { this.$store.commit('setProbeTemperature', { probe: this.tank.inProbe, value: value }) }
    },
    temperatureOut: {
      get () { return Math.round(this.tank.outProbe.temperature * 100.0) / 100.0 },
      set (value) { this.$store.commit('setProbeTemperature', { probe: this.tank.outProbe, value: value }) }
    },
    inHeatingRate: {
      get () { return this.tank.inHeatingRate },
      set (value) { this.$store.commit('setInHeatingRate', { tank: this.tank, value: value }) }
    },
    outHeatingRate: {
      get () { return this.tank.outHeatingRate },
      set (value) { this.$store.commit('setOutHeatingRate', { tank: this.tank, value: value }) }
    }
  },

  props: {
    tank: Object
  }
}
</script>
