<template>
  <q-card>
    <q-layout container view="lHh Lpr lFf">
      <q-header elevated>
        <q-toolbar>
          <q-toolbar-title>{{ tank.name }}</q-toolbar-title>
        </q-toolbar>
      </q-header>

      <q-page-container>
        <q-page class="q-pa-md">
          <div class="q-gutter-md column">
            <q-input
              label="Temperature"
              v-model.number="temperature"
              type="number"
              min="0.0" max="212.0" step="1.0"/>

            <Button offColor="maroon" onColor="red" :output="tank.ssrOutput">Heating Element</Button>

            <q-input
              label="Cooling Rate"
              v-model.number="coolingRate"
              type="number"
              min="0.0" max="1.0" step="0.01"/>

            <q-input
              label="Heating Rate"
              v-model.number="heatingRate"
              type="number"
              min="0.0" max="1.0" step="0.1"/>
          </div>
        </q-page>
      </q-page-container>
    </q-layout>
  </q-card>
</template>

<style lang="stylus" scoped>
</style>

<script>
import Button from 'src/components/Button'

export default {
  name: 'TankController',

  data () {
    return {
    }
  },

  props: {
    tank: Object
  },

  computed: {
    temperature: {
      get () { return Math.round(this.tank.probe.temperature * 100.0) / 100.0 },
      set (value) { this.$store.commit('setProbeTemperature', { probe: this.tank.probe, value: value }) }
    },
    heatingRate: {
      get () { return this.tank.heatingRate },
      set (value) { this.$store.commit('setHeatingRate', { tank: this.tank, value: value }) }
    },
    coolingRate: {
      get () { return this.tank.coolingRate },
      set (value) { this.$store.commit('setCoolingRate', { tank: this.tank, value: value }) }
    }
  },

  components: {
    Button
  }
}
</script>
