<template>
  <div>
    <q-layout view="lHh Lpr lFf">
      <q-header elevated>
        <q-toolbar class="bg-blue-grey-10">
          <q-btn
            flat
            dense
            @click="leftDrawerOpen = !leftDrawerOpen"
            aria-label="Menu"
          >
            <q-icon name="menu" />
          </q-btn>

          <q-toolbar-title>
            Brewery
          </q-toolbar-title>

          <q-btn
            flat
            dense
            @click="rightDrawerOpen = !rightDrawerOpen"
            v-if="showRightDrawerButton"
          >
            <q-icon :name="rightDrawerButtonIcon" />
          </q-btn>
        </q-toolbar>
      </q-header>

      <q-drawer v-model="leftDrawerOpen" bordered overlay elevated>
        <q-list>
          <q-item clickable to="/">
            <q-item-section avatar>
              <q-icon name="home" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Home</q-item-label>
            </q-item-section>
          </q-item>
          <q-item clickable to="/stuff">
            <q-item-section avatar>
              <q-icon name="home" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Stuff</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-drawer>

      <q-page-container>
        <router-view />
      </q-page-container>

      <q-drawer
        v-model="rightDrawerOpen"
        side="right"
        overlay
        bordered
        elevated
      >
        <router-view name="rightDrawer" />
      </q-drawer>
    </q-layout>

    <q-dialog v-model="showDisconnectDialog" persistent>
      <q-card class="bg-red-10" style="width: 500px; height: 150px;">
        <q-card-section>
          <div class="text-h6 text-center">Disconnected</div>
        </q-card-section>

        <q-card-section>
          <div class="text-center">
            The connection to the brewery has been lost.
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Watch } from 'vue-property-decorator';
import { IRouteMetadata } from 'src/router/types';

@Component
export default class MyLayout extends Vue {
  leftDrawerOpen = false;
  rightDrawerOpen = false;

  showDisconnectDialog = false;

  @Watch('$state.hub.connected')
  onConnectedChanged(newValue: boolean, _oldValue: boolean) {
    this.showDisconnectDialog = !newValue;
  }

  get showRightDrawerButton() {
    return (<IRouteMetadata>this.$route.meta).rightDrawerButton !== undefined;
  }

  get rightDrawerButtonIcon(): string {
    const metadata = <IRouteMetadata>this.$route.meta;
    if (metadata.rightDrawerButton !== undefined) {
      return metadata.rightDrawerButton.icon;
    } else {
      return '';
    }
  }
}
</script>
