<template>
  <div class="row q-gutter-x-sm">
    <relay-button class="col" :relay="brewery.relays.hlt" color="#ff0000" />
    <relay-button class="col" :relay="brewery.relays.boil" color="#ff0000" />
    <relay-button class="col" :relay="brewery.relays.pump1" color="#00ff00" />
    <relay-button class="col" :relay="brewery.relays.pump2" color="#00ff00" />
    <relay-button class="col" :relay="brewery.relays.stir" color="#0000ff" />
    <relay-button class="col" :relay="brewery.relays.fan" color="#0000ff" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';
import RelayButton from './RelayButton.vue';

@Component({
  components: {
    RelayButton
  }
})
export default class ButtonPanel extends Vue {
  get brewery() {
    return this.$state.brewery;
  }
}
</script>
