<template>
  <div />
</template>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component({
  components: {}
})
export default class DisabledStrategyForm extends Vue {}
</script>
