<template>
  <q-card>
    <q-layout container view="hHh lpR fFf">
      <q-header elevated class="bg-blue-grey-10 text-white">
        <q-toolbar>
          <q-toolbar-title class="text-h6 text-center">{{
            title
          }}</q-toolbar-title>
          <q-btn
            flat
            dense
            icon="settings"
            @click="rightDrawerOpen = !rightDrawerOpen"
          />
        </q-toolbar>
      </q-header>

      <q-drawer v-model="rightDrawerOpen" side="right" overlay elevated>
        <div class="column q-pa-md">
          <q-input
            class="col"
            label="Minutes of History"
            type="number"
            v-model.number="uiState.minutesOfHistory"
          />
        </div>
      </q-drawer>

      <q-page-container>
        <q-page class="row">
          <div class="col-auto column">
            <q-list dense class="q-pt-md" style="width: 220px">
              <q-item>
                <q-avatar
                  rounded
                  :color="ssrButtonColor"
                  size="24px"
                  class="full-width"
                >
                  {{ ssrButtonLabel }}
                </q-avatar>
              </q-item>
              <q-item>
                <q-item-section no-wrap>Power Level</q-item-section>
                <q-item-section no-wrap class="text-right text-bold text-h6">
                  {{ powerLevel }}%
                </q-item-section>
              </q-item>
              <q-separator spaced inset />
              <q-item>
                <q-select
                  v-model="currentStrategy"
                  :options="availableStrategies"
                  emit-value
                  map-options
                  label="Strategy"
                  class="full-width"
                />
              </q-item>

              <component
                v-bind:is="strategyFormName"
                v-bind="{ strategy: element.currentStrategy }"
              />
            </q-list>
          </div>

          <div class="col">
            <heating-controller-chart :element="element" />
          </div>
        </q-page>
      </q-page-container>
    </q-layout>

    <!--    <q-toolbar class="bg-blue-grey-10 col-auto q-pa-xs">-->
    <!--      <q-toolbar-title class="text-h6 text-center">{{ title }}</q-toolbar-title>-->
    <!--      <q-btn flat dense icon="settings" />-->
    <!--    </q-toolbar>-->

    <!--    <div class="row col">-->
    <!--      <div class="col-auto column">-->
    <!--        <q-list dense class="q-pt-md" style="width: 220px">-->
    <!--          <q-item>-->
    <!--            <q-avatar-->
    <!--              rounded-->
    <!--              :color="ssrButtonColor"-->
    <!--              size="24px"-->
    <!--              class="full-width"-->
    <!--            >-->
    <!--              {{ ssrButtonLabel }}-->
    <!--            </q-avatar>-->
    <!--          </q-item>-->
    <!--          <q-item>-->
    <!--            <q-item-section no-wrap>Power Level</q-item-section>-->
    <!--            <q-item-section no-wrap class="text-right text-bold text-h6">-->
    <!--              {{ powerLevel }}%-->
    <!--            </q-item-section>-->
    <!--          </q-item>-->
    <!--          <q-separator spaced inset />-->
    <!--          <q-item>-->
    <!--            <q-select-->
    <!--              v-model="currentStrategy"-->
    <!--              :options="availableStrategies"-->
    <!--              emit-value-->
    <!--              map-options-->
    <!--              label="Strategy"-->
    <!--              class="full-width"-->
    <!--            />-->
    <!--          </q-item>-->

    <!--          <component-->
    <!--            v-bind:is="strategyFormName"-->
    <!--            v-bind="{ strategy: element.currentStrategy }"-->
    <!--          />-->
    <!--        </q-list>-->
    <!--      </div>-->

    <!--      <heating-controller-chart class="col" :element="element" />-->
    <!--    </div>-->
  </q-card>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop } from 'vue-property-decorator';

import { IHeatingStrategy, HeatingElement } from '@bolonium/brewery-model';
import ManualStrategyForm from './ManualStrategyForm.vue';
import SetpointStrategyForm from './SetpointStrategyForm.vue';
import DisabledStrategyForm from './DisabledStrategyForm.vue';
import HeatingControllerChart from 'components/HeatingControllerChart.vue';
import { HeatingElementUiState } from 'src/model/State';

interface ISelectOptions {
  label: string;
  value: IHeatingStrategy;
}

@Component({
  components: {
    HeatingControllerChart,
    ManualStrategyForm,
    SetpointStrategyForm,
    DisabledStrategyForm
  }
})
export default class HeatingControllerCard extends Vue {
  @Prop() element!: HeatingElement;
  @Prop() title!: string;

  rightDrawerOpen = false;

  get uiState() {
    return HeatingElementUiState.fromElement(this.element);
  }

  get strategyFormName() {
    let type = this.element.currentStrategy.type;
    type = type.substring(0, 1).toUpperCase() + type.substring(1);
    return type + 'StrategyForm';
  }

  get currentStrategy() {
    return this.element.currentStrategy;
  }

  set currentStrategy(strategy: IHeatingStrategy) {
    this.element.setCurrentStrategy(strategy);
  }

  get availableStrategies() {
    return this.element.availableStrategies.map(
      s => <ISelectOptions>{ label: s.name, value: s }
    );
  }

  get powerLevel() {
    return this.element.powerLevel;
  }

  get probes() {
    return this.element.temperatureProbes;
  }

  get ssrButtonLabel() {
    return this.element.ssrRelay.enabled ? 'ON' : 'OFF';
  }

  get ssrButtonColor() {
    return this.element.ssrRelay.enabled
      ? 'red-button-enabled'
      : 'red-button-disabled';
  }
}
</script>
