<template>
  <div class="column q-pa-md">
    <div class="col text-caption">Power Level: {{ powerLevel }}%</div>

    <div class="col row">
      <q-btn
        flat
        label="-"
        class="col-auto"
        padding="none md"
        size="xl"
        @click="setPowerLevel(powerLevel - 5)"
      />
      <q-slider
        class="col"
        :value="powerLevel"
        @change="val => setPowerLevel(val)"
        @input="val => (powerLevel = val)"
        :min="0"
        :max="100"
        :step="5"
        label
        :label-value="powerLevel + '%'"
        color="purple"
      />
      <q-btn
        flat
        label="+"
        class="col-auto"
        padding="none md"
        size="xl"
        @click="setPowerLevel(powerLevel + 5)"
      />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop, Watch } from 'vue-property-decorator';
import { IHeatingStrategy } from '@bolonium/brewery-model';

@Component({
  components: {}
})
export default class ManualStrategyForm extends Vue {
  @Prop() strategy!: IHeatingStrategy;

  powerLevel = 0;

  mounted() {
    this.powerLevel = <number>this.strategy.parameters.powerLevel;
  }

  setPowerLevel(value: number) {
    if (value < 0) value = 0;
    if (value > 100) value = 100;
    void this.strategy.setParameters({ powerLevel: value });
  }

  @Watch('strategy.parameters.powerLevel')
  onPowerLevelChanged(newValue?: number, _oldValue?: number) {
    this.powerLevel = newValue ?? 0;
  }
}
</script>
