<template>
  <q-btn size="md" :label="relay.title" :style="style" @click="onClick" />
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop } from 'vue-property-decorator';
import { Relay } from '@bolonium/brewery-model';
import { colors } from 'quasar';

const { lighten } = colors;

@Component
export default class OutputButton extends Vue {
  @Prop() relay!: Relay;
  @Prop() color!: string;

  onClick(): void {
    this.relay.toggle();
  }

  get style() {
    return {
      color: 'white',
      backgroundColor: this.actualColor
    };
  }

  get actualColor(): string {
    return this.relay.enabled ? this.color : lighten(this.color, -70);
  }
}
</script>
