<template>
  <div class="column q-pa-md">
    <q-input
      class="col"
      label="Setpoint"
      mask="###"
      :value="setpoint"
      @input="val => (setpoint = parseFloat(val == '' ? 0 : val))"
      @blur="updateSetpoint()"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop } from 'vue-property-decorator';
import { IHeatingStrategy } from '@bolonium/brewery-model';

@Component({
  components: {}
})
export default class SetpointStrategyForm extends Vue {
  @Prop() strategy!: IHeatingStrategy;

  pendingSetpoint?: number = undefined;

  set setpoint(value: number) {
    this.pendingSetpoint = value;
  }

  get setpoint(): number {
    return this.pendingSetpoint ?? <number>this.strategy.parameters.setpoint;
  }

  updateSetpoint() {
    if (this.pendingSetpoint == undefined) return;
    void this.strategy.setParameters({ setpoint: this.pendingSetpoint });
    this.pendingSetpoint = undefined;
  }
}
</script>
