<template>
  <q-card>
    <q-card-section class="bg-blue-grey-10 q-pa-xs">
      <div class="text-h6 text-center">{{ title }}</div>
    </q-card-section>

    <div id="temp" class="q-pa-md" :class="['text-' + probe.name]">
      <div id="temp-text-group">
        <span id="temp-shadow-text">888.8</span>
        <span id="temp-text">{{ temperatureString }}</span>
      </div>
    </div>
  </q-card>
</template>

<style lang="sass" scoped>
#temp
  text-align: center

#temp-text-group
  font-family: 'DSEG7-Classic'
  font-size: 6vw
  font-weight: bold
  line-height: 1
  position: relative
  display: inline-block

#temp-shadow-text
  z-index: 0
  opacity: 0.05

#temp-text
  position: absolute
  right: 0
  z-index: 1
</style>

<script lang="ts">
import { sprintf } from 'sprintf-js';
import 'dseg/css/dseg.css';
import Vue from 'vue';
import { Component, Prop } from 'vue-property-decorator';
import { TemperatureProbe } from '@bolonium/brewery-model';

@Component
export default class TemperatureCard extends Vue {
  @Prop() probe!: TemperatureProbe;

  get title() {
    return this.probe.title;
  }

  get temperatureString() {
    return sprintf('%.1f', this.probe.temperature);
  }
}
</script>
