<template>
  <q-layout view="hHh lpr lFr">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
        >
          <q-icon name="menu" />
        </q-btn>

        <q-toolbar-title>
          Brewery
        </q-toolbar-title>

        <q-btn
          flat
          dense
          @click="rightDrawerOpen = !rightDrawerOpen"
          v-if="showRightDrawerButton"
        >
          <q-icon :name="rightDrawerButtonIcon" />
        </q-btn>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" bordered overlay elevated>
      <q-list>
        <q-item clickable to="/">
          <q-item-section avatar>
            <q-icon name="home" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Home</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable to="/stuff">
          <q-item-section avatar>
            <q-icon name="home" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Stuff</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-drawer v-model="rightDrawerOpen" side="right" overlay bordered elevated>
      <router-view name="rightDrawer" />
    </q-drawer>
  </q-layout>
</template>

<script lang="ts">
import Vue from 'vue';
import VueRouter from 'vue-router';
import { Component } from 'vue-property-decorator';

@Component
export default class MyLayout extends Vue {
  leftDrawerOpen = false;
  rightDrawerOpen = false;

  get showRightDrawerButton() {
    return this.$route.meta.rightDrawerButton !== undefined;
  }

  get rightDrawerButtonIcon(): string {
    return this.$route.meta.rightDrawerButton.icon;
  }
}
</script>

<style></style>
